html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
  }

  a:link, a:visited{
    color: #bdc3c7;
  }

  .credit{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #fff;
  }